<h1 class="ui header">
  DEVELOPMENT
</h1>

<table class="ui table">
  <thead>
    <tr>
      <th width="50%">Google Mail</th>
      <th width="50%">Google Drive</th>
    </tr>
  </thead>
  <tbody>
    <% @attachments_from_gmail.each do |filename| %>
      <tr class="<%= @attachments_from_drive[Russian.translit(filename)] ? 'positive' : 'error' %>">
        <td><%= filename %></td>
        <td>
          <% if @attachments_from_drive[Russian.translit(filename)] %>
            <%= link_to filename, @attachments_from_drive[Russian.translit(filename)], target: '_blank' %>
          <% else %>
            <strong>Not uploaded</strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>