<% flash.each do |type, message| %>
  <div class="ui message <%= semantic_class_for(type) %>">
    <i class="close icon"></i>
    <div class="header">
      <%= message %>
    </div>
  </div>
<% end %>