<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="footer-menu">
          <li><strong>@ttachments.io</strong></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-6 text-right">
        <p>
          <strong>@attachments.io</strong><br>
          1234 Irvine Center Drive<br>
          Irvice, CA 90210
        </p>
        <p>
          <span class="glyphicon glyphicon-earphone"></span>
          <a href="#">Contact Us</a>
        </p>
      </div>
    </div>

    <div class="sub-footer">
      <%= link_to root_path, title: '@ttachments.io' do %>
        <%= image_tag 'logo-white.png', height: '23px' %>
      <% end %>
      <p>Copyright © <%= Time.now.year %> attachments.io. All rights reserved. Terms of Service and Privacy Policy</p>
    </div>
  </div>
</footer>