<footer>
  <div class="insert-wrapper">
    <div class="ui grid">
      <div class="row">
        <div class="four wide column">
          <div class="ui inverted vertical text menu">
            <div class="active item">@attachments.io</div>
            <a class="item" href="#">About us</a>
            <a class="item" href="#">Pricing</a>
            <a class="item" href="#">Blog</a>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui inverted vertical text menu">
            <div class="active item">Support</div>
            <a class="item" href="#">Help Center</a>
            <a class="item" href="#">Setup Guide</a>
            <a class="item" href="#">Share Screen</a>
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui right floated inverted vertical text menu">
            <div class="active item">Connect With Us</div>
            <div class="item">
              @attachments.io<br>
              1234 Irvine Center Drive<br>
              Irvice, CA 90210
            </div>
            <a class="item" href="#">
              <i class="phone icon"></i>
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-footer">
      <%= link_to root_path, title: '@ttachments.io' do %>
        <%= image_tag 'logo-white.png' %>
      <% end %>
      <p>Copyright © 2013 Attachments.io. All rights reserved. Terms of Service and Privacy Policy</p>
    </div>
  </div>
</footer>