<% if user_signed_in? %>
    <p>You logged in as: <%= current_user.full_name %></p>
    <p><%= link_to 'Sign out', sign_out_path %></p>
<% else  %>
    <p>You don't logged in!</p>

    <p>
      <strong>Sign in via:</strong><br>
      <%= link_to 'Google Account', sign_in_google_path %><br>
      <%= link_to 'Google Apps', sign_in_apps_path %>
    </p>

<% end %>