<% if user_sign_in? %>
    <p><%= "You logged in as: #{current_user.first_name} #{current_user.last_name}" %></p>
    <p><%= link_to 'Logout', sign_out_path %></p>
<% else %>
    <p>You can login via:</p>
    <p>
      <%= link_to 'Google Apps', sign_in_apps_path %><br>
      <%= link_to 'Google Account', sign_in_google_path %>
    </p>
<% end %>
