<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sign-in-block-home">
        <%= link_to 'Sign In with Google', sign_in_google_path, class: 'btn btn-danger btn-lg' %>
        <p><%= link_to 'or Sign In with Google Apps', sign_in_apps_path %></p>
      </div>
    </div>
  </div>
</div>