<div class="gradient-container">
  <div class="insert-wrapper">
    <div class="screenshots-block">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Cras porta felis quis nunc sagittis a luctus nisi euismod volutpat ac molestie non auctordui.</p>

      <div class="ui dropdown large red button">
        Sign Up For FREE
        <div class="menu">
          <%= link_to 'Google Account', sign_in_google_path, class: 'item' %>
          <%= link_to 'Google Apps', sign_in_apps_path, class: 'item' %>
        </div>
      </div>

      <div class="screenshot">
        <%= image_tag 'screenshots.png', height: '299px' %>
      </div>
    </div>
  </div>
</div>