
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		    <div class="text-center" style="margin: 100px 100px 200px; ">
		      <a href="<%= sign_in_google_url %>">
           <%= image_tag 'sign-in-with-google.png', alt: 'Sign In with Google' %>
		      </a>
		    </div>
		</div>
	</div>
</div>
