//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require bootstrap
//= require_self
//= require_tree .
//

#wrapper {
  padding: 20px 0;
}

.google-navbar {
  color: #ddd;
  padding: 1px 0 0;
  background: #2d2d2d;
  border-bottom: 1px solid #000;

  .brand {
    font-size: 16px;
  }

  a {
    color: #bbb;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &:active {
      color: #ddd;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 13px;
      float: left;
      padding: 5px 0;
      margin: 0 5px;
    }
  }
}

.signin {

  .apps-form {
    width: 460px;
    height: 255px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}
