//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require semantic
//= require_self
//= require_tree .
//

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#wrapper {
  padding: 20px 0;
}

#sign-in-apps {
  width: 600px;
  margin: 0 auto;
}

.ui.items > .item {
  min-height: 0 !important;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.hide { display: none; }
